body {
  background-color: #ebebebaf;
}

.row {
  display: flex;
  flex-direction: column;
  padding: 25px 20px;
}
.row-1 {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  gap: 20px;
}
.cards {
  max-height: 480px;
  width: 280px;
  background-color: rgba(21, 23, 37, 0.993);
  padding: 10px 10px;
  border-radius: 30px;
  /* transform: skewY(4deg); */
  transition: transform 0.5s, box-shadow 0.3s;
  box-shadow: 0 0 3px crimson;
}

.cards:hover {
  transform: scale(1.1);
  z-index: 1000;
  box-shadow: 0 0 5px red;
}

.image-area > img {
  height: 160px;
  object-fit: contain;
  background-color: #fff;
  width: 100%;
  border-radius: 30px;
}

.description > p {
  color: #e4e4e4;
}

.price-and-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -10px;
}

.price-and-btn > .price {
  color: rgb(19, 167, 98);
  font-weight: bold;
  font-size: 20px;
}

.price-and-btn > .button > button {
  /* background: linear-gradient(to right, rgb(27, 185, 88), rgb(64, 110, 235)); */
  color: #fff;
  height: 35px;
  outline: 1px solid rgb(27, 185, 88);
  padding: 0px 15px;
  border-radius: 5px;
  background: none;
}

.btn {
  display: none;
}

/* .price-and-btn > .button > button:hover {
  transform: scale(0.95);
} */

.price-and-btn > .button > button:hover .btn {
  display: inline;
  transition: display 0.3s;
}

.title {
  background: linear-gradient(to right, rgb(85, 241, 145), rgb(72, 111, 209));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
